@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Iniciar sesión</h1>
<form action = '@Url.Action("iniciarSesion", "Home")' method ="POST" > 
 Usuario:<input type = "text" name= "intentoU"/>
 Contraseña:<input type = "text" name= "intentoC"/>
  <input type= "submit" name= "guardar"/>
 </form>

</div>
